<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place List</title>
</head>
<body>
<h1>Place List</h1>
<link rel="stylesheet" href="/css/placeList.css">
<table>
    <thead>
    <tr>
        <th>장소</th>
        <th>평균 평점</th>
        <th>추천 지수</th>
        <th>리뷰 수</th>
        <th>태그</th>
        <th>주소</th>
    </tr>
    </thead>
    <tbody>
    {{#placePage.content}}
        <tr>
            <td>{{name}}</td>
            <td>{{averageScore}}</td>
            <td>{{normScore}}</td>
            <td>{{reviewNumber}}</td>
            <td>{{tags}}</td>
            <td>{{address}}</td>
        </tr>
    {{/placePage.content}}
    </tbody>
</table>

<div class = "pagination">
    <span>Page {{current}} of {{placePage.totalPages}}</span>
    <div>
        {{#placePage.hasPrevious}}
            <a href="/places?page={{previous}}&size={{placePage.size}}">Previous</a>
        {{/placePage.hasPrevious}}

        {{#placePage.hasNext}}
            <a href="/places?page={{next}}&size={{placePage.size}}">Next</a>
        {{/placePage.hasNext}}
    </div>
</div>
</body>
</html>
